
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="es-MX" xml:lang="es-MX">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Estadisticas</title>

        {% load static %}
		<link href="{% static 'style.css'  %}" rel="stylesheet" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script type="text/javascript" src="{% static 'function.js'  %}"></script>

<!--  START CURVE CHART USER  -->

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Tiempo jugado', 'Minutos'],
          ['1',  10],
          ['2',  50],
          ['3',  20],
          ['4',  120],
          ['5',  70]
        ]);

        var options = {
          backgroundColor: 'transparent',
          curveType: 'function',
          chartArea:  {left:50,top:30,width:'74%',height:'73%'},
          legend: { position: 'bottom' }
        };

        var chart = new google.visualization.LineChart(document.getElementById('curve_chartUser'));

        chart.draw(data, options);
      }
    </script>

<!--  END CURVE CHART USER  -->


<!--  START CURVE CHART  -->

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Edad', 'Mujeres', 'Hombres'],
          ['10',  30 , 20],
          ['11',  36, 12],
          ['12',  9, 39],
          ['13',  33, 7]
        ]);

        var options = {
          backgroundColor: 'transparent',
          curveType: 'function',
          chartArea:  {left:50,top:30,width:'74%',height:'73%'},
          legend: { position: 'bottom' }
        };

        var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

        chart.draw(data, options);
      }
    </script>

<!--  END CURVE CHART  -->


   
<!--  START PIE DONUT CHART  -->

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load("current", {packages:["corechart"]});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Género', 'Número de personas'],
          ['Mujeres',     106],
          ['Hombres',      67],
        ]);

        var options = {
        backgroundColor: 'transparent',
        chartArea:  {left:57,top:55,width:'73%',height:'72%'},
          pieHole: 0.4,
        };

        var chart = new google.visualization.PieChart(document.getElementById('donutchart'));
        chart.draw(data, options);
      }
    </script>


<!--  END PIE DONUT CHART  -->


<!--  START PIE DONUTUSER CHART  -->

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load("current", {packages:["corechart"]});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Momento del día', 'Horas jugadas'],
          ['Día',     1],
          ['Tarde',      2],
          ['Noche',      3]
        ]);

        var options = {
        backgroundColor: 'transparent',
        chartArea:  {left:57,top:55,width:'73%',height:'72%'},
          pieHole: 0.4,
        };

        var chart = new google.visualization.PieChart(document.getElementById('donutchartUser'));
        chart.draw(data, options);
      }
    </script>


<!--  END PIE DONUTUSER CHART  -->




<!--  START COLUMN CHART TOP SCORES -->
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

  <script type="text/javascript">
    google.charts.load("current", {packages:['corechart']});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
      var data = google.visualization.arrayToDataTable([
        ["Escenario", "Score", { role: "style" } ],
        ["Laboratorio", 200, "#b87333"],
        ["Mezclas", 150, "silver"],
        ["Torres de Hanoi", 30, "gold"],
        ["Basquetbol Parabólico", 108, "color: #e5e4e2"]
      ]);

      var view = new google.visualization.DataView(data);
      view.setColumns([0, 1,
                       { calc: "stringify",
                         sourceColumn: 1,
                         type: "string",
                         role: "annotation" },
                       2]);

      var options = {
        backgroundColor: 'transparent',
        width: 850,
        height: 450,
        bar: {groupWidth: "95%"},
        chartArea:  {left:50,top:30,width:'74%',height:'73%'},
        legend: { position: "none" },
      };
      var chart = new google.visualization.ColumnChart(document.getElementById("columnchart_valuesTopScores"));
      chart.draw(view, options);
  }
  </script>


<!--  END COLUMN CHART TOP SCORES  -->


<!--  START COLUMN CHART  -->
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

  <script type="text/javascript">
    google.charts.load("current", {packages:['corechart']});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
      var data = google.visualization.arrayToDataTable([
        ["Escenario", "Minutos", { role: "style" } ],
        ["Laboratorio", 5, "#b87333"],
        ["Mezclas", 19, "silver"],
        ["Torres de Hanoi", 16, "gold"],
        ["Basquetbol Parabólico", 9, "color: #e5e4e2"]
      ]);

      var view = new google.visualization.DataView(data);
      view.setColumns([0, 1,
                       { calc: "stringify",
                         sourceColumn: 1,
                         type: "string",
                         role: "annotation" },
                       2]);

      var options = {
        backgroundColor: 'transparent',
        width: 850,
        height: 450,
        bar: {groupWidth: "95%"},
        chartArea:  {left:50,top:30,width:'74%',height:'73%'},
        legend: { position: "none" },
      };
      var chart = new google.visualization.ColumnChart(document.getElementById("columnchart_values"));
      chart.draw(view, options);
  }
  </script>


<!--  END COLUMN CHART  -->

<!--  START TABLE CHART TOP 5  -->

 <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['table']});
      google.charts.setOnLoadCallback(drawTable);

      function drawTable() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Nombre');
        data.addColumn('number', 'Puntuación Total');
        data.addColumn('boolean', 'Jugando ahorita');
        data.addRows([
          ['Jesus',  {v: 580, f: '580'}, true],
          ['Santiago',   {v:400,   f: '400'},  false],
          ['Luis', {v: 399, f: '399'}, true],
          ['Diego',   {v: 210,  f: '210'},  false],
          ['Aline',   {v: 100,  f: '100'},  true]
        ]);

        var table = new google.visualization.Table(document.getElementById('table_div'));

        table.draw(data, {showRowNumber: true, width: '100%', height: '100%'});
      }
    </script>

<!--  END TABLE CHART TOP 5  -->

<!--  START NUMEROUS TABLE  -->

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawVisualization);

      function drawVisualization() {
        // Some raw data (not necessarily accurate)
        var data = google.visualization.arrayToDataTable([
          ['Día', 'Mezclas', 'Torres de Hanoi', 'Basquetbol Parabólico'],
          ['Día 1',  30,      100,         300],
          ['Día 2',  50,      201,        120],
          ['Día 3',  20,      140,        70]
        ]);

        var options = {
          backgroundColor: 'transparent',
          chartArea:  {left:50,top:30,width:'74%',height:'73%'},
          //vAxis: {title: 'Intentos'},
          //hAxis: {title: 'Día'},
          seriesType: 'bars',
          series: {3: {type: 'line'}}
        };

        var chart = new google.visualization.ComboChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>
<!--  END NUMEROUS TABLE -->

<!--  START PIEUSER 3D CHART  -->


    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load("current", {packages:["corechart"]});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Minujuego', 'Número de personas'],
          ['Mezclas',     70],
          ['Torres de Hanoi',      20],
          ['Basquetbol Parabólico',  10],
        ]);

        var options = {
          backgroundColor: 'transparent',
          chartArea:  {left:57,top:55,width:'73%',height:'72%'},
          is3D: true,
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart_3dUser'));
        chart.draw(data, options);
      }
    </script>

 <!--  END PIEUSER 3D CHART  -->


<!--  START PIEGLOBAL 3D CHART  -->


    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load("current", {packages:["corechart"]});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Edad', 'Número de personas'],
          ['< 12 años',     45],
          ['12 a 18 años',      90],
          ['> 18 años',  38],
        ]);

        var options = {
          backgroundColor: 'transparent',
          chartArea:  {left:57,top:55,width:'73%',height:'72%'},
          is3D: true,
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart_3d'));
        chart.draw(data, options);
      }
    </script>

 <!--  END PIEGLOBAL 3D CHART  -->

 <!--  START TIMELINE  -->

 <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['timeline']});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var container = document.getElementById('timeline');
        var chart = new google.visualization.Timeline(container);
        var dataTable = new google.visualization.DataTable();


        dataTable.addColumn({ type: 'string', id: 'President' });
        dataTable.addColumn({ type: 'date', id: 'Start' });
        dataTable.addColumn({ type: 'date', id: 'End' });
        dataTable.addRows([
          [ 'Mezclas', new Date(1789, 3, 30), new Date(1797, 2, 4) ],
          [ 'Torres de Hanoi',      new Date(1797, 2, 4),  new Date(1801, 2, 4) ],
          [ 'Basquetbol',  new Date(1801, 2, 4),  new Date(1809, 2, 4) ]]);

        chart.draw(dataTable);
      }
    </script>

  <!--  END TIMELINE  -->

   <!--  START TIMELINE2  -->

 <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['timeline']});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var container = document.getElementById('timeline2');
        var chart = new google.visualization.Timeline(container);
        var dataTable = new google.visualization.DataTable();

        dataTable.addColumn({ type: 'string', id: 'President' });
        dataTable.addColumn({ type: 'date', id: 'Start' });
        dataTable.addColumn({ type: 'date', id: 'End' });
        dataTable.addRows([
          [ 'Mezclas', new Date(1789, 3, 30), new Date(1797, 2, 4) ],
          [ 'Torres de Hanoi',      new Date(1797, 2, 4),  new Date(1801, 2, 4) ],
          [ 'Basquetbol',  new Date(1801, 2, 4),  new Date(1809, 2, 4) ]]);

        chart.draw(dataTable);
      }
    </script>

  <!--  END TIMELINE2  -->


  
	</head>



	
	<header class ="main">
		<div class="stats">
		 <button class="bstats" onclick="location.href='http://127.0.0.1:8000/GAMESTEAM'"><span> <b> GAME & STEAM </b> </span> </button> 
		</div>
  		<h1>Estadísticas GAME & STEAM</h1>

	</header>





 
  <br>

  <header class ="user">


  
    <h1 class="usertitle">¡<b>Hola {{user.get_username}}</b>, estas son tus estadísticas de GAME & STEAM!</h1>
  </header>

<section>

	<body>

		<div class="row">
		
	  <div class="column1">

	  	<h2 class="weird"><u>Tus datos generales</u></h2>
      <p class="visuals"><em>* Si quieres cerrar sesión por favor presiona aquí. </em>
        {% if user.is_authenticated%}
        <a href="{% url 'logout'%}?next={{request.path}}">Logout</a>
        <!-- <a onclick="openForm()"><b><u>obtener datos</u></b></a></em></p> -->


              <div class="loginPopup">
      <div class="formPopup" id="popupForm">
        <form action="https://www.google.com.mx/?hl=es-419" class="formContainer" method="POST">
            {% csrf_token %}
          <h2 class="formheader">Para visualizar tus datos de juego introduce tu nombre, edad y género</h2>

          <label for="Nombre">
            <strong>Nombre</strong>
          </label>
          <input type="text" id="Nombre" placeholder="Nombre" name="Nombre" required>

          <label for="Edad">
            <strong>Edad</strong>
          </label>
          <input type="text" id="Edad" placeholder="Edad en años" name="Edad" required>

          <label for="Genero">
            <strong>Género</strong>
          </label>
          <input type="text" id="Genero" placeholder="Femenino o masculino" name="Genero" required>

          <button type="submit" class="btn">Aceptar</button>
          <button type="button" class="btn cancel" onclick="closeForm()">Cancelar</button>

        </form>
      </div>
    </div>


	  	
          <hr size=8 width="100%" color="black">
       <h4> Usuario: <b style= "color:white;">{{nombreUsuario}}</b> </h4> 
        <hr size=8 width="100%" color="black">
        <h4> Edad: <b style= "color: white;">{{edad}}</b> </h4> 
        <hr size=8 width="100%" color="black">
        <h4> Género: <b style= "color:white;">{{genero}}</b> </h4> 
        <hr size=8 width="100%" color="black">
        <h4> Último inicio de sesión: <b style= "color: white;">{{ultimo_inicio}}</b> </h4> 
        <hr size=8 width="100%" color="black">
        <h4> Carreras que te podrían gustar: <b style= "color: white;">{{carreras}}</b> </h4>   </h4>

	  </div>


	  
	  <div class= "column2">
	  	<h2 class="weird"><u>Juego Favorito</u></h2>

        <div id="piechart_3dUser" style="width: 900px; height: 450px;"></div>

	  		


	  </div>
	  
	</div>

	<!--<hr size="15" width="100%" color="black">-->

	<nobr>
		<div class="row">
	  <div class="column3">

            <h2 class= "weird"><u>Número de intentos por nivel</u></h2>
        <p id="chart_div" style="width: 700px; height: 430px"></p>

			

	  </div>

	  <div class= "column4">

	  	<h2><u>Travesía por el juego</u></h2>

	  	     <p><b> Primer día </b></p>
           <div id="timeline" style="width: 593px; height: 180px;"></div>
           <p><b> Último día </b></p>
           <div id="timeline2" style="width: 593px; height: 182px;"></div>

	  </div>
	</div>
</nobr>



  <nobr>
    <div class="row">
    <div class="column31">
      

      <h2 class= "weird"><u>Tiempo de actividad en los últimos 5 días</u></h2>
        <p id="curve_chartUser" style="width: 850px; height: 430px"></p>

    </div>

    <div class= "column41">

      <h2><u>Mayor actividad durante el día</u></h2>

          <div id="donutchartUser" style="width: 900px; height: 446px;"></div>

    </div>
  </div>
</nobr>









 <br>

  <header class ="user2">
    <h1 class="usertitle">Estadísticas globales</h1>
  </header>

<section>

  <body>

    <div class="row">
    
    <div class="column1">

      <h2 class="weird"><u>Top scores globales</u></h2>

      <div id="columnchart_valuesTopScores" style="width: 700px; height: 450px;"></div>
      

    </div>


    
    <div class= "column2">
      <h2 class="weird"><u>Top 5 scores</u></h2>

        <div id="table_div" style="width: 593px; height: 450px;"></div>


    </div>
    
  </div>

  <!--<hr size="15" width="100%" color="black">-->

  <nobr>
    <div class="row">
    <div class="column3">
      
      <h2 class= "weird"><u>Número de usuarios por género</u></h2>
        <p id="curve_chart" style="width: 850px; height: 454px"></p>

    </div>

    <div class= "column4">

      <h2 class="weird"><u>Edad promedio de jugadores</u></h2>

        <div id="piechart_3d" style="width: 900px; height: 450px;"></div>

    </div>
  </div>
</nobr>



  <nobr>
    <div class="row">
    <div class="column32">
      
      <h2 class= "weird"><u>Tiempo promedio de actividad</u></h2>
        <div id="columnchart_values" style="width: 700px; height: 450px;"></div>

    </div>

    <div class= "column42">

      <h2><u>Mayor permanencia en línea</u></h2>

          <div id="donutchart" style="width: 900px; height: 450px;"></div>

    </div>
  </div>
</nobr>










			<hr size=5 width="100%" color="black">

	<footer>
       	<div class="downfoo">
			<b>Autores:</b> Diego Enrique Manzanarez Velázquez    |   Santiago Orozco Quintero    |   Luis Enrique Bojórquez Almazán   |   Jesus Javier Hernández Delgado
        </div>
        <nav>
            <a class="links" href="https://movimientosteam.org/historia-2/">Historia Movimiento STEAM</a>

        </nav>
	</footer>

	</body>

</section>

{%else%}
<li><a href="{% url 'login'%}?next={{request.path}}">Login</a></li>
{%endif%}

</html>
